*{
    box-sizing: border-box;
}

body{
    padding: 5rem;
    background: rgb(216, 209, 209);
    font-size: 16px;
    font-family:"Helvetica", sans-serif;
    line-height: 1.5;

}
header a{
    text-decoration: none;
}
.site{
    max-width: 70rem;
    margin: 0 auto;
}
.site::after{
    display:block;
    content: none;
    clear: both;
}
.site > header:first-of-type {
    border-bottom: 2px solid black;
}
.site-title{
    display:inline-block;
    padding-right: 5vw;
}


.site-title a{
    font-size: 2.5rem;
    color:#000;  
}
img[class^="align"]{
    max-width: 100%;
    height:auto;
    border:0.5rem black solid;
    padding: 0.8rem;
    box-shadow: 0 0 2rem 0rem rgba(0, 0,0,0.4);
}



.align-right{
    float:right;
    margin:0 0 1rem 1.5rem;
}
.align-left{
    float:left;
    margin:0 1.5rem 1rem 0rem;
}
main, aside{
    float:left;
}
main{
    width: 70%;
}
aside{
    width: 30%;
    padding:0 0 0 4rem;
}


