<div class="container">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <h1>Registration Form</h1>
      <form #form="ngForm" (submit)="register(form.value)">
        <!-- <pre> {{form.value | json}}</pre> -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
          </div>
          <input name="fullName" class="form-control" pattern="[A-Z][a-z]+\s[A-Z][a-z]+" placeholder="Full Name" ngModel required>
        </div>
        <div class="alert alert-danger" *ngIf="form?.controls.fullName?.touched && form?.controls.fullName?.errors?.required">
          This field is required!
        </div>
        <div class="alert alert-danger" *ngIf="form?.controls.fullName?.errors?.pattern">
            Name should contain space between first and last
          </div>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
          </div>
          <input name="email" class="form-control" placeholder="Email Address" pattern="[^@]+@[^\.]+\..+" type="email" ngModel required>
        </div>
        <div class="alert alert-danger" *ngIf="form?.controls.email?.touched && form?.controls.email?.errors?.required">
            This field is required!
          </div>
        <div class="alert alert-danger" *ngIf="form?.controls.email?.errors?.pattern">
            Please write valid email address!
          </div>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
          </div>
          <select  class="custom-select" style="max-width: 120px;" required>
            <option value="{{number}}" *ngFor=" let number of phoneNumbers">{{number}}</option>
          </select>
          <input name="phoneNumber" class="form-control" placeholder="Phone number" pattern="\d{9}" type="text" ngModel required>
        </div>
        <div class="alert alert-danger" *ngIf="form?.controls.phoneNumber?.touched && form?.controls.phoneNumber?.errors?.required">
            This field is required!
          </div>
        <div class="alert alert-danger" *ngIf="form?.controls.phoneNumber?.errors?.pattern">
            Please phone number with 9 numbers!
          </div>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-building"></i> </span>
          </div>
          <select name="jobTitle" class="form-control" ngModel required>
            <option disabled>Select one of options below</option>
            <option value="Designer">Designer</option>
            <option value="Manager">Manager</option>
            <option value="Accounting">Accounting</option>
          </select>
        </div>
        <div class="alert alert-danger" *ngIf="form?.controls.jobTitle?.touched && form?.controls.jobTitle?.errors?.required">
            This field is required!
          </div>
        <div ngModelGroup="passwords">
            <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input name="password" class="form-control" placeholder="Create password" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{3,16}$" type="password" ngModel required>
              </div>
              <div class="alert alert-danger" *ngIf="form?.controls.passwords?.controls.password?.touched && form?.controls.passwords?.controls.password?.errors?.required">
                  This field is required!
                </div>
                <div class="alert alert-danger" *ngIf=" form?.controls.passwords?.controls.password?.errors?.pattern">
                    Password must contains digits and chars!
                  </div>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input name="confirmPassword" class="form-control" placeholder="Repeat password" type="password" ngModel required>
              </div>
              <div class="alert alert-danger" *ngIf="form?.controls.passwords?.controls.confirmPassword?.touched && form?.controls.passwords?.controls.confirmPassword?.errors?.required">
                  This field is required!
                </div>
                <div class="alert alert-danger" *ngIf="form.controls.passwords.controls.password.value != form.controls.passwords.controls.confirmPassword.value">
                    Passwords do not match!
                  </div>
        </div>
        <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-image"></i> </span>
            </div>
            <input name="imageUrl" appImageUrlV class="form-control" placeholder="Image Url" type="url" ngModel required>
          </div>
          <div class="alert alert-danger" *ngIf="form.errors?.image">
              Image link is not valid.
          </div>

 
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block" [disabled]="form.invalid"> Create Account </button>
        </div>
        <p class="text-center">Have an account? <a href="">Log In</a> </p>
      </form>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>

<router-outlet></router-outlet>
